{% load static %}
<DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'gvozd/css/style.css' %}">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<main>

<body>
<header>
    <header class="header">
        <div class="conteiner">
            <div class="header_inner">
                <a class="logo" href="/#tab_main">ГВОЗДЬ</a>
                <div class="tabs">
                    <nav class="nav">
                        <ul class="menu">
                            <li>
                                <a class="nav_link" href="views/index.html#tab_01">УСЛЛУГИ</a>
                                <ul class="sub_menu">
                                    <li>
                                        <a class="nav_link_sub" href="zbtgvzd.html">ЗАБИТЬ ГВОЗДЬ</a>
                                    </li>
                                    <li>
                                        <a class="nav_link_sub" href="pvrtdr.html">ПРОСВЕРЛИТЬ ДЫРУ</a>
                                    </li>
                                    <li>
                                        <a class="nav_link_sub" href="rzbtkn.html">РАЗБИТЬ ОКНО</a>
                                    </li>
                                    <li>
                                        <a class="nav_link_sub" href="pmntlp.html">ПОМЕНЯТЬ ЛАМПОЧКУ</a>
                                    </li>
                                    <li>
                                        <a class="nav_link_sub" href="prstnvtwd.html">ПЕРЕУСТАНОВИТЬ SHINDOWS</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="nav_link" href="/жаба/index.html#tab_02">ИНФОРМАЦИЯ</a>
                            </li>
                            <li>
                                <a class="nav_link" href="http://127.0.0.1:8000/aplication/showorders">Показать заказы</a>
                            </li>
                            <li>
                                <a class="nav_link" href="">ЗАКАЗАТЬ услугу</a>
                            </li>
                            <li>
                                <a class="nav_link" href="">Добавить отзыв</a>
                            </li>
                             <li>
                                <a class="nav_link" href="">Наши отзывы</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</header>
<br><br><br><br><br><br>
<h1 align="center">Лента отзывов</h1>
<div id="form_feedback">
    {% for m in messages %}
    <div class="alert alert-warning mt-2">
        <h3>Пользователь {{m.username}}</h3>
        <h3> {{m.favour}}</h3>
        _______________________
        <h3> {{m.text}} </h3>
    </div>
    {% endfor %}

</div>
