<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'gvozd/css/style.css' %}">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<header>
    <header class="header">
        <div class="conteiner">
            <div class="header_inner">
                <a class="logo" href="/#tab_main">ГВОЗДЬ</a>
                <div class="tabs">
                    <nav class="nav">
                        <ul class="menu">
                            <li>
                                <a class="nav_link" href="views/index.html#tab_01">УСЛЛУГИ</a>
                                <ul class="sub_menu">
                                    <li>
                                        <a class="nav_link_sub" href="zbtgvzd.html">ЗАБИТЬ ГВОЗДЬ</a>
                                    </li>
                                    <li>
                                        <a class="nav_link_sub" href="pvrtdr.html">ПРОСВЕРЛИТЬ ДЫРУ</a>
                                    </li>
                                    <li>
                                        <a class="nav_link_sub" href="rzbtkn.html">РАЗБИТЬ ОКНО</a>
                                    </li>
                                    <li>
                                        <a class="nav_link_sub" href="pmntlp.html">ПОМЕНЯТЬ ЛАМПОЧКУ</a>
                                    </li>
                                    <li>
                                        <a class="nav_link_sub" href="prstnvtwd.html">ПЕРЕУСТАНОВИТЬ SHINDOWS</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="nav_link" href="/жаба/index.html#tab_02">ИНФОРМАЦИЯ</a>
                            </li>
                            <li>
                                <a class="nav_link" href="showorders">Показать заказы</a>
                            </li>
                            <li>
                                <a class="nav_link" href="">ЗАКАЗАТЬ услугу</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</header>
<br><br><br><br><br><br>
    <h1 align="center">Сделать заказ</h1>
    <br>
    <form  id="form" method="post" action ="">
        {% csrf_token %}
        <div>
            <label>Имя:<input type="text" name="first_name" id="first_name" required ></label>
        </div>
        <div>
            <label>Дата заявки:<input type="date" name="date" id="date" required  ></label>
        </div>
        <div>
            <label>Email:<input type="email" name="email" id="email" required  ></label>
        </div>
        <p>Выбирите услугу:</p>
        <select id="favour_name" name="favour_name" required>
			<option value="Забить гвоздь"> Забить гвоздь </option>
			<option value="Сделать ремонт"> Сделать ремонт </option>
			<option value="Поменять лампочку"> Поменять лампочку </option>
		</select>
        <br>
        <div>
            <input type="submit" value="Отправить">
            <button name = "reset" id = "reset" type="reset">Очистить всё</button>
        </div>

    </form>
<footer class="footer">
    <div class="footer_inner">
        <p class="text2">Телефон горячей линии: 8 800 555 35 35</p>
        <p class="text2">Адрес: проспект Науки, 14</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
</body>

</html>