<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/жаба/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <header class="header">
            <div class="conteiner">
                <div class="header_inner">
                    <a class="logo" href="/жаба/index.html#tab_main">ГВОЗДЬ</a>

                    <div class="tabs">
                        <nav class="nav">
                            <ul class="menu">
                                <li>
                                    <a class="nav_link" href="/жаба/index.html#tab_01">УСЛЛУГИ</a>
                                    <ul class="sub_menu">
                                        <li>
                                            <a class="nav_link_sub" href="zbtgvzd.html">ЗАБИТЬ ГВОЗДЬ</a>
                                        </li>
                                        <li>
                                            <a class="nav_link_sub" href="pvrtdr.html">ПРОСВЕРЛИТЬ ДЫРУ</a>
                                        </li>
                                        <li>
                                            <a class="nav_link_sub" href="rzbtkn.html">РАЗБИТЬ ОКНО</a>
                                        </li>
                                        <li>
                                            <a class="nav_link_sub" href="pmntlp.html">ПОМЕНЯТЬ ЛАМПОЧКУ</a>
                                        </li>
                                        <li>
                                            <a class="nav_link_sub" href="prstnvtwd.html">ПЕРЕУСТАНОВИТЬ SHINDOWS</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="nav_link" href="/жаба/index.html#tab_02">ИНФОРМАЦИЯ</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="/жаба/index.html#tab_03">КОНТАКТЫ</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </header>
    <main class="main">
        <div class="conteiner">
            <div class="content2">
                <div class="img">
                    <img src="/жаба/window.jpg" class="img">
                </div>
                <div class="column">
                    <a class="caption2">РАЗБИТЬ ОКНО</a>
                    <a class="text">100 грн</a>
                    <div>
                        <button>Заказать</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer_inner">
            <p class="text2">Телефон горячей линии: 8 800 555 35 35</p>
            <p class="text2">Адрес: проспект Науки, 14</p>
        </div>
    </footer>
</body>

</html>